:host {
	color: white;
	height: 100vh;
	display: block;
	background: #012e65;
	background: linear-gradient(0deg, rgb(0, 14, 32) 0%, rgb(1, 46, 101) 70%);

	img	{ width: 100%; }

	/* -- Given values
	background: rgb(1,38,83);
	background: linear-gradient(0deg, rgba(1,38,83,1) 0%, rgba(1,48,104,1) 100%); 
	*/
}