<header>
	<mat-toolbar>
		<mat-toolbar-row>
			<ul>
				<li>Notifications</li>
				<li>Mssages</li>
				<li>Profile</li>
			</ul>
		</mat-toolbar-row>

		<mat-toolbar-row>
			<div class="session-info">
				<img src="" alt="">
				<h5>Welcome back, John Doe!</h5>
				<p>Your last login was 26/12/2020 05:39, Bogotá.</p>
			</div>
			<div class="balance">
				<h6>Total Balance</h6>
				<p>$17.592,80</p>
			</div>
			<div class="actions">
				<a mat-stroked-button routerLink="../request-new-product">New Product</a>
				<button mat-stroked-button>Make a Transfer</button>
			</div>
		</mat-toolbar-row>
	</mat-toolbar>
</header>